
body {
    background-color: maroon;
    font-family: Arial;
}

div {
    background-color: white;
    padding: 20px 50px;
    border-radius: 20px;
    width: 400px;
    margin: auto;
}

h1 {
    color: maroon;
}

button {
    background-color: yellow;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 10px;
}

input, #result {
    font-family: "Courier New";
    font-size: 20px;
}